html:not(.w-editor) .image-hero {
  opacity: 0;
}

html:not(.w-editor) .text-animation, .text-animation-2 {
opacity: 0;
}

html:not(.w-editor) .text-animation-3 {
  opacity: 0;
  }

.texto-contabilidade-rotate { transform: rotate(90deg); }

html:not(.w-editor) .nota-app_wrapper {
  opacity: 0;
  }

  html:not(.w-editor) .stagger-up, .stagger-up-2 {
	opacity: 0;
  transform: translate(0px, 40px);
}

html:not(.w-editor) .stagger-up-3 {
  opacity: 0;
  transform: translate(0px, 40px);
}


html:not(.w-editor) .stagger-left, .stagger-left-2 {
  opacity: 0;
  transform: translate(71px, 0px);
}


html:not(.w-editor) .section-home-banner{
  opacity: 0;
}