.tippy-box[data-theme~='grey-80'] {
  background: rgba(78, 82, 85, 0.8);
  backdrop-filter: blur(2px);
  border-radius: 8px;
  color: white;
  font-size: 12px ;
}

.tippy-box[data-theme~='grey-80-v2'] {
  background: rgba(78, 82, 85, 0.8);
  backdrop-filter: blur(2px);
  border-radius: 8px;
  color: white;
  font-size: 12px ;
}

.tippy-box[data-theme~='grey-80'][data-placement^='bottom'] {
  margin-top: 1rem;
}


.tippy-box[data-theme~='grey-80'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: #6F7376;
}

.tippy-box[data-theme~='grey-80'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: #6F7376;
}

.tippy-box[data-theme~='grey-80'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: #6F7376;
}

.tippy-box[data-theme~='grey-80-v2'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: #6F7376;
}

.tippy-box[data-theme~='grey-80'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: #6F7376;
}